<div class="layout-container">
    <mat-toolbar color="primary">
        <!--<button mat-icon-button 
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>profile</button>
            <button mat-menu-item>log out</button>
        </mat-menu>-->
        <span>Todo</span>
    </mat-toolbar>
    <div class="router-outlet-container">
        <router-outlet></router-outlet>
    </div>
</div>